@import "./index.scss";

header {
  @include flex($justify: space-between, $align: center);
  padding: 10px 300px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .logo-span {
    @include flex($align: center, $gap: 8px);
    font-weight: 500;
    color: $font-color;
    img {
      @include dimension(40px, 40px);
    }
  }
  menu {
    @include flex($align: center, $gap: 20px);
    .a {
      background: #000;
      color: #fff;
      padding: 8px 16px;
      border-radius: 8px;
      font-size: 12px;
    }
    .secondary {
      background: transparent;
      border: 1px solid $secondary-font-color;
      color: $font-color;
    }
  }
}
.loading {
  @include center();
  @include dimension(100%, 90vh);
}
#themain {
  @include flex($direction: column, $gap: 60px, $align: center);
  padding: 90px;

  .header_div {
    @include flex($direction: column, $align: center, $gap: 15px);
    width: 60%;
    .heading {
      font-size: 50px;
      color: $font-color;
    }
    .search {
      width: 100%;
      background: #fff;
      padding: 20px;
      border-radius: 20px;
      font-size: 14px;
      border: 1px solid rgba(247, 87, 188, 0.3);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
    .search:focus {
      outline: none;
      box-shadow: none;
      border-bottom: none;
      border-radius: 20px 20px 0 0;
      font-size: 16px;
      transition: font-size 0.2s;
    }
    .categoryList {
      @include flex($gap: 20px, $direction: column);
      padding: 20px;
      background: #fff;
      border-radius: 0 0 20px 20px;
      margin-top: -15px;
      border: 1px solid rgba(247, 87, 188, 0.3);
      border-top: none;
      width: 100%;
      box-shadow: rgba(252, 105, 198, 0.4) 0px 5px,
        rgba(247, 87, 188, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px;
      p {
        width: 100%;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .card {
    @include flex($align: center, $justify: center, $gap: 50px);
    width: 65%;
    .card-image {
      // @include dimension(40%, auto);
      img {
        @include dimension(250px, 160px);
        border-radius: 8px;
        object-fit: cover;
      }
    }
    .card-content {
      @include flex($gap: 10px, $direction: column);
      width: 50%;
      .category {
        font-size: 14px;
        font-weight: bold;
      }
      .title {
        font-size: 28px;
        color: $font-color;
      }
      .date {
        font-size: 16px;
        color: $secondary-font-color;
      }
    }
  }
}

.loginContainer {
  @include center();
  height: 85vh;
  .loginForm {
    width: 40%;
    @include flex($direction: column, $gap: 20px);
    padding: 30px;
    h1 {
      font-size: 50px;
      color: $font-color;
    }
    form {
      width: 100%;
      @include flex($direction: column, $gap: 20px);
      div {
        @include flex($direction: column, $gap: 5px);
        width: 100%;
      }
      input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 8px;
        border: 1px solid $secondary-font-color;
      }

      button[type="submit"] {
        width: 100%;
        background: #000;
        color: #fff;
        border: none;
        padding: 14px 20px;
        border-radius: 8px;
        font-size: 12px;
        cursor: pointer;
      }
    }

    a {
      text-decoration: none;
      color: $secondary-font-color;
      font-size: 15px;
    }

    .forgot-password {
      width: 100%;
      display: grid;
      place-items: center;
    }
  }
}
